[submodule "third_parties/unilm"]
	path = third_parties/unilm
	url = git@github.com:microsoft/unilm.git
[submodule "third_parties/transformers"]
	path = third_parties/transformers
	url = git@github.com:huggingface/transformers.git
[submodule "third_parties/donut"]
	path = third_parties/donut
	url = git@github.com:clovaai/donut.git
[submodule "third_parties/LaVIN"]
	path = third_parties/LaVIN
	url = git@github.com:luogen1996/LaVIN.git
